[Unit]
Description=GameBird Shell UI
After=network-online.target gblibd.service systemd-user-sessions.service gamebird-tv-mode-init.service
Wants=network-online.target gblibd.service
Requires=gamebird-tv-mode-init.service
Conflicts=getty@tty1.service
Before=getty@tty1.service

[Service]
Type=simple
User=gamebird
Group=gamebird
WorkingDirectory=/home/gamebird/gamebird-shell
ExecStart=/usr/local/lib/gamebird/gbshell-start.sh
Restart=always
RestartSec=1
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
StandardInput=tty

[Install]
WantedBy=multi-user.target
