# GameBird PlayStation profile: Pi Zero 2 W (32-bit ARM Cortex-A53/NEON).
core_options_path = "/home/gamebird/gamebird-shell/config/retroarch-pcsx-rearmed-options.cfg"
system_directory = "/home/gamebird/gamebird-shell/roms/psx/bios"
global_core_options = "true"
game_specific_options = "false"
video_threaded = "true"
audio_resampler_quality = "0"
audio_latency = "64"
